/* Animaciones */
@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

header {
  margin-bottom: 40px;
  background-color: white; }
  header .header__anuncio {
    background-color: white;
    text-align: center;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
    header .header__anuncio h1 {
      background-color: white;
      color: #730097;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 200; }
  header .header__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #730097; }
    header .header__contenido .header__contenido-logo img {
      width: 200px;
      height: 100px;
      margin-top: 10px;
      margin-bottom: 10px; }
    header .header__contenido .header__contenido-navbar {
      display: flex;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 20px;
      color: black;
      text-align: right; }
      header .header__contenido .header__contenido-navbar li {
        margin: 0 15px; }
        header .header__contenido .header__contenido-navbar li a {
          color: black; }
          header .header__contenido .header__contenido-navbar li a:hover {
            color: #730097;
            cursor: pointer;
            font-size: 22px;
            border-bottom: 2px solid #730097; }

/* Primer sector */
.principal .principal__contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto; }
  .principal .principal__contenido .sneaker {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #730097; }
    .principal .principal__contenido .sneaker .sneaker__encabezado {
      position: relative; }
      .principal .principal__contenido .sneaker .sneaker__encabezado .sneaker__encabezado-imagen {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px; }
    .principal .principal__contenido .sneaker .sneaker__titulo {
      margin-bottom: 20px;
      font-size: 20px;
      text-align: center; }
    .principal .principal__contenido .sneaker .sneaker__descripcion {
      height: 50px;
      text-align: center;
      color: gray; }
    .principal .principal__contenido .sneaker .sneaker__enlace {
      background-color: #730097;
      display: inline-block;
      width: 100%;
      text-align: center;
      border-radius: 10px;
      color: white;
      padding: 15px 0; }

/* Segundo sector */
.promociones .promociones__contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  color: #730097;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 200; }
  .promociones .promociones__contenido li {
    background-color: white;
    margin: 0 30px; }

/* Tercer sector */
.presentacion .presentacion__contenido {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; }
  .presentacion .presentacion__contenido h1 {
    color: #730097;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 40px; }
  .presentacion .presentacion__contenido p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 20px;
    text-align: center; }
  .presentacion .presentacion__contenido button {
    border: 3px solid #730097;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    padding: 5px; }
    .presentacion .presentacion__contenido button:hover {
      background-color: #730097; }
    .presentacion .presentacion__contenido button a {
      color: black;
      background-color: transparent;
      font-size: 15px;
      padding: 5px; }
      .presentacion .presentacion__contenido button a:hover {
        color: white; }

/* Cuerto sector */
.modelos {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  font-weight: 200; }
  .modelos .modelo1 {
    width: 1200px;
    height: 500px; }
  .modelos .modelo2 {
    width: 595px;
    height: 300px;
    margin-right: 2.5px; }
  .modelos .modelo3 {
    width: 595px;
    height: 300px;
    margin-left: 2.5px; }

.formulario {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; }
  .formulario .formulario__contenido {
    margin-top: 20px;
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 600px; }
    .formulario .formulario__contenido .formulario__contenido-h1 {
      color: #730097;
      font-family: 'Times New Roman', Times, serif;
      font-size: 35px;
      margin-top: 20px;
      margin-bottom: 15px; }
    .formulario .formulario__contenido .controls {
      width: 100%;
      background: white;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 15px;
      border: 2px solid #730097;
      font-size: 15px; }
    .formulario .formulario__contenido p {
      height: 20px;
      font-size: 15px;
      color: black;
      text-decoration: none;
      font-weight: bold; }
    .formulario .formulario__contenido a {
      color: black;
      text-decoration: none; }
      .formulario .formulario__contenido a:hover {
        color: black;
        text-decoration: underline; }
    .formulario .formulario__contenido .button {
      border: 3px solid #730097;
      background-color: white;
      border-radius: 15px;
      text-align: center;
      width: 100px;
      padding: 5px;
      font-size: 15px;
      font-weight: bold;
      margin: 15px 0; }
      .formulario .formulario__contenido .button:hover {
        background-color: #730097; }

.contacto {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; }
  .contacto .contacto__contenido {
    margin-top: 20px;
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 600px; }
    .contacto .contacto__contenido p {
      margin-top: 20px; }
    .contacto .contacto__contenido .contacto__contenido-h1 {
      color: #730097;
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px; }

.nosotros {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; }
  .nosotros .nosotros__contenido .titulo-somos {
    color: #730097;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px; }
  .nosotros .nosotros__contenido .titulo-nosotros {
    color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px; }
  .nosotros .nosotros__contenido .titulo-abajo {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #730097; }
  .nosotros .nosotros__contenido p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 20px;
    text-align: justify; }

.video {
  background-color: white;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px; }
  .video .video__contenido .video1 {
    width: 1200px; }

.novedades {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; }
  .novedades .novedades-foto {
    position: relative;
    display: inline-block;
    text-align: center; }
    .novedades .novedades-foto .novedades-foto__foto {
      width: 1200px;
      height: 300px; }
    .novedades .novedades-foto .novedades-foto__titulo {
      position: absolute;
      color: white;
      top: 30%;
      left: 52%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      font-size: 60px;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic; }
      .novedades .novedades-foto .novedades-foto__titulo .novedad-uno {
        width: 1200px;
        height: 600px; }
      .novedades .novedades-foto .novedades-foto__titulo .novedad-dos {
        width: 400px;
        height: 300px; }
      .novedades .novedades-foto .novedades-foto__titulo .novedad-tres {
        width: 796px;
        height: 300px; }
      .novedades .novedades-foto .novedades-foto__titulo .foto-local {
        width: 1200px;
        height: 400px; }
      .novedades .novedades-foto .novedades-foto__titulo .novedad-cuatro {
        width: 700px;
        height: 300px; }
      .novedades .novedades-foto .novedades-foto__titulo .novedad-cinco {
        width: 496px;
        height: 300px; }

.productos .productos__titulo {
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  color: #730097; }

.productos .productos__contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto; }
  .productos .productos__contenido .sneaker {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #730097; }
    .productos .productos__contenido .sneaker .sneaker__encabezado {
      position: relative; }
      .productos .productos__contenido .sneaker .sneaker__encabezado .sneaker__encabezado-imagen {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px; }
    .productos .productos__contenido .sneaker .sneaker__titulo {
      margin-bottom: 20px;
      font-size: 20px;
      text-align: center; }
    .productos .productos__contenido .sneaker .sneaker__descripcion {
      height: 50px;
      text-align: center;
      color: gray; }
    .productos .productos__contenido .sneaker .sneaker__enlace {
      background-color: #730097;
      display: inline-block;
      width: 100%;
      text-align: center;
      border-radius: 10px;
      color: white;
      padding: 15px 0; }

.productos .productos__titulo-final {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #730097; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: black;
  text-align: center;
  margin-top: 20px; }
  .footer li {
    background-color: black; }
    .footer li a {
      color: white;
      font-weight: 400;
      margin: 10px;
      background-color: black; }

* {
  margin: 0;
  padding: 0;
  background-color: white; }

/* Global */
a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/* Mobile last */
@media (max-width: 576px) {
  .header {
    margin-bottom: 10px; }
    .header .header__contenido {
      flex-direction: column; }
    .header .header__anuncio h1 {
      font-size: 15px; }
  /* index */
  .principal__contenido {
    gap: 10px;
    margin: 5px; }
    .principal__contenido .sneaker {
      padding: 10px; }
      .principal__contenido .sneaker .sneaker__encabezado-imagen {
        height: 90px;
        margin-bottom: 5px; }
      .principal__contenido .sneaker .sneaker__enlace {
        border-radius: 10px;
        padding: 5px 0; }
      .principal__contenido .sneaker .sneaker__descripcion {
        height: 20px; }
      .principal__contenido .sneaker .sneaker__titulo {
        margin-bottom: 20px;
        height: 20px;
        font-size: 15px; }
  .promociones__contenido {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px; }
    .promociones__contenido h1 {
      font-size: 30px; }
    .promociones__contenido p {
      margin: 10px;
      font-size: 18px; }
    .promociones__contenido button {
      margin-top: 0px; }
  .modelos .modelo1 {
    width: 576px;
    height: 300px; }
  .modelos .modelo2 {
    width: 280px;
    height: 200px; }
  .modelos .modelo3 {
    width: 280px;
    height: 200px; }
  /* nosotros */
  .nosotros__contenido {
    margin: 10px; }
    .nosotros__contenido .titulo-somos {
      font-size: 30px; }
    .nosotros__contenido .titulo-nosotros {
      margin-top: 0px;
      font-size: 15px; }
    .nosotros__contenido .titulo-abajo {
      margin-top: 10px;
      font-size: 20px; }
    .nosotros__contenido p {
      color: black;
      margin-top: 10px;
      font-size: 20px; }
  .video {
    background-color: white;
    margin-top: 5px; }
    .video .video1 {
      width: 565px;
      margin: 0 5px;
      background-color: white; }
  /* productos */
  .productos .productos__titulo {
    margin-bottom: 10px;
    font-size: 25px; }
  .productos .productos__contenido {
    gap: 10px;
    margin: 10px; }
  .productos .productos__titulo-final {
    margin-top: 10px;
    font-size: 15px; }
  /* Contacto */
  .formulario .formulario__contenido {
    margin-top: 5px;
    width: 400px; }
    .formulario .formulario__contenido .formulario__contenido-h1 {
      font-size: 25px;
      margin-top: 5px; }
    .formulario .formulario__contenido .button {
      width: 80px; }
  .contacto__contenido {
    width: 400px; }
    .contacto__contenido .contacto__contenido-h1 {
      font-size: 25px; } }
