.formulario{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .formulario__contenido{
        margin-top: 20px;
        text-align: justify;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        width: 600px;
        .formulario__contenido-h1{
            color: $colorprincipal;
            font-family: 'Times New Roman', Times, serif;
            font-size: 35px;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        .controls{
            width: 100%;
            background: white;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 15px;
            border: 2px solid $colorprincipal;
            font-size: 15px;
        }
        p{
            height: 20px;
            font-size: 15px;
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
        a{
            color: black;
            text-decoration: none;
            &:hover{
                color: black;
                text-decoration: underline;
            }
        }
        .button{
            border: 3px solid $colorprincipal;
            background-color: white;
            border-radius: 15px;
            text-align: center;
            width: 100px;
            padding: 5px;
            font-size: 15px;
            font-weight: bold;
            margin: 15px 0;
            &:hover{
                background-color: $colorprincipal;
            }
        }
    }
}
.contacto{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .contacto__contenido{
        margin-top: 20px;
        text-align: justify;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        width: 600px;
        p{
            margin-top: 20px;
        }
        .contacto__contenido-h1{
            color: $colorprincipal;
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
        }
    }
}