.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 20px;
    li{
        background-color: black;
        a{
            color: white;
            font-weight: 400;
            margin: 10px;
            background-color: black;
        }
    }
}