@import "variables";
@import "header";
@import "index";
@import "contacto";
@import "nosotros";
@import "novedades";
@import "productos";
@import "footer";

*{
    margin: 0;
    padding: 0;
    background-color: white;
}
/* Global */
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    margin: 0;
    position: relative;
    padding-bottom: 70px;
    min-height: 100vh;
}
/* Mobile last */
@media (max-width: 576px){
    .header{
        margin-bottom: 10px;
        .header__contenido{
            flex-direction: column;
            .header__contenido-logo{
                img{
                    width: 130px;
                    height: 90px;
                }
            }
            .header__contenido-navbar{
                font-size: 15px;
                li{
                    margin-bottom: 10px;
                }
            }
        }
        .header__anuncio h2{
            font-size: 15px;
        }
    }
    /* index */
    .principal{
        .principal__contenido{
            gap: 10px;
            margin: 0px 10px;
            .sneaker{
                padding: 10px;
                .sneaker__encabezado{
                    .sneaker__encabezado-imagen{
                        height: 70px;
                        width: 90%;
                        display: flex;
                        margin: 0 auto;
                        margin-bottom: 5px;
                    }
                }
                .sneaker__enlace{
                    border-radius: 10px;
                    padding: 5px 0;
                    width: 120px;
                }
                .sneaker__descripcion{
                    height: 20px;
                }
                .sneaker__titulo{
                    margin-bottom: 20px;
                    height: 20px;
                    font-size: 15px;
                }
            }
        }
    }
    .promociones{
        .promociones__contenido{
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 5px;
        }
    }
    .presentacion{
        .presentacion__contenido{
            h2{
                font-size: 25px;
            }
            p{
                margin: 20px;
                font-size: 15px;
            }
            button{
                margin-top: 0px;
                a{
                    font-size: 12px;
                }
            }
        }
    }
    .modelos{
        padding: 0;
        .modelos__contenido{
            .modelo1{
                width: 576px;
                height: 300px;
            }
            .modelo2{
                width: 280px;
                height: 200px;
            }
            .modelo3{
                width: 280px;
                height: 200px;
            }
            button{
                a{
                    font-size: 12px;
                }
            }
        }
    }
    /* nosotros */
    .nosotros{
        .nosotros__contenido{
            margin: 10px;
            .titulo-somos{
                font-size: 25px;
            }
            .titulo-nosotros{
                margin-top: 0px;
                font-size: 12px;
            }
            .titulo-abajo{
                margin-top: 10px;
                font-size: 20px;
            }
            p{
                color: black;
                margin-top: 10px;
                font-size: 18px;
            }
        }
    }
    .video{
        background-color: white;
        margin-top: 5px;
        .video__contenido{
            .video1{
                width: 565px;
                margin: 0 5px;
                background-color: white;
            }
        }
    }
    /* productos */
    .productos{
        .productos__titulo {
            margin-bottom: 10px;
            font-size: 25px;
        }
        .productos__contenido{
            margin: 10px 20px 0px;
            grid-template-columns: repeat(2, 1fr);
            .sneaker{
                padding: 10px;
                .sneaker__encabezado{
                    .sneaker__encabezado-imagen{
                        height: 80px;
                        width: 80%;
                        display: flex;
                        margin: 0 auto;
                        margin-bottom: 5px;
                    }
                }
                .sneaker__enlace{
                    border-radius: 10px;
                    padding: 5px 0;
                    width: 120px;
                }
                .sneaker__descripcion{
                    height: 20px;
                }
                .sneaker__titulo{
                    margin-bottom: 20px;
                    height: 20px;
                    font-size: 15px;
                }
            }
        }
        .productos__titulo-final {
            margin-top: 20px;
            font-size: 20px;
        }
    }
    /* Contacto */
    .formulario{
        .formulario__contenido{
            margin-top: 5px;
            width: 400px;
            .formulario__contenido-h1{
                font-size: 25px;
                margin-top: 5px;
            }
            .button{
                width: 80px;  
            }
        }
    }
    .contacto{
        .contacto__contenido{
            width: 400px;
            .contacto__contenido-h1{
                font-size: 25px;
            }
        }
    }
}